*{
    padding: 0;
    margin: 0;
}

.navigation ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: gray;
    margin: 0 0 0 2px;
    border-radius: 6px;
    border: 2px solid black;
}

.navigation ul li {
    list-style: none;
    padding: 10px 10px;
    border-right: 2px solid black;
}

.navigation ul li:hover{
    cursor: pointer;
    background-color: white;
}

.navigation ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

.items{
    text-align: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.msg{
    margin-top: 20px;
}